.chatLine {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 10px;
}

.wrapper {
}

.wrapper p {
  font-size: 10px;
}

.choicesWrapper {
  display: flex;
  flex-direction: row;
}

.choice {
  text-align: center;
  font-size: 16px;
  padding: 20px 25px;
  border: 1px solid;
  border-radius: 3px;
  border-color: rgb(205, 205, 205);
  margin-right: 6px;
  margin-bottom: 6px;
}
