body {
  background-color: #f5f6f8;
}

.main {
  margin: 150px auto;
}

.background {
}

.DarkText {
  color: #404f54;
}

.LogosWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.LogosWrapper img {
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
  width: 100%;
  max-height: 50px;
}

.LogosWrapper img:hover {
  filter: none;
}

.section {
  display: flex;
  flex-wrap: 'wrap';
}

.Container {
  position: relative;
  padding-bottom: 150px !important;
  /* padding: 125px 0; */
}

.TextMargin {
  margin-bottom: 20px !important;
}

.introSection {
  position: relative;
  color: #fff;
  /* font-family: 'Varela Round', sans-serif; */
  background-image: linear-gradient(130deg, #0700dd 0%, #00f2ff 89%);
}

.BulbIcon {
  font-size: 4em;
  --fa-primary-color: gold;
  --fa-secondary-color: orange;
}

.ComplaintIcon {
  font-size: 4em;
  --fa-primary-color: black;
  --fa-secondary-color: orange;
}

.ScaleIcon {
  font-size: 4em;
  --fa-primary-color: blue;
  --fa-secondary-color: orange;
}

.MoneyIcon {
  font-size: 4em;
  --fa-primary-color: green;
  --fa-secondary-color: lightgreen;
}

@media only screen and (max-width: 767px) {
  .introSection {
    margin: 0 !important;
  }
}

.headerShape {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 120%;
  transform: rotate(180deg);
  bottom: -1px;
}

.TriangleShape {
  position: absolute;
  width: 100%;
  bottom: -5px;
  transform: scaleX(-1);
}

.headerShape svg {
  height: 120px;
  width: calc(260% + 1.3px);
  transform: translateX(-50%) rotateY(180deg);
  left: 50%;
}

.White .headerShape {
  top: -1px;
  left: 0;
  width: 100%;
}

.White .headerShape svg {
  height: 120px;
  width: calc(260% + 1.3px);
  transform: translateX(-50%) rotateY(180deg);
  left: 50%;
}

.ShapeContainer .headerShape {
  transform: rotateX(360deg);
  bottom: auto;
  top: 0;
}

.shapeFill {
  fill: #f5f6f8;
}

.roundShape {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  bottom: -1px;
  fill: linear-gradient(130deg, #0700dd 0%, #00f2ff 89%);
}

.section > * {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.paper {
  height: 140px;
  width: 100px;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 500px;
}

.columnCentered {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  z-index: 2;
}

.AboveHeading {
  font-size: 1.5em;
  width: 100%;
}

.TextLeft {
  text-align: left;
}

.Heading {
  font-family: 'Roboto';
  color: #404f54;
  font-weight: 700;
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 40px;
}

.CardHeading {
}

.Heading.NoMargin {
  margin-bottom: 0px !important;
}

h1.Heading {
  font-size: 2.5em;
}

h2.Heading {
  font-size: 2em;
}

h3.Heading {
  font-size: 1.75em;
}

h4.Heading {
  font-size: 1.5em;
}

h5.Heading {
  font-size: 1.25em;
}

h6.Heading {
  font-size: 1.1em;
}

.Heading.Inverted {
  color: #fff;
}

.Subheading {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5em;
  color: #818a8f;
  margin-bottom: 50px;
}

footer .Subheading {
  margin-bottom: 0;
}

.Subheading.Small {
  font-size: 0.9em;
}

.Subheading.Normal {
  font-size: 1em;
}

.Subheading.Medium {
  font-size: 1.2em;
  line-height: 1.6em;
}

.Subheading.Large {
  font-size: 1.5em;
}

.Subheading.Inverted {
  color: #fff;
}

.SubHeading.NoMargin {
  margin-bottom: 0;
}

.Relative {
  position: relative;
}

.heading {
  font-weight: 700 !important;
  color: #34383b !important;
  z-index: 1;
}

.subheading {
  font-weight: 200 !important;
  font-size: 1.2em;
}

.BGImage {
}

.Wrapper {
  color: #fff;
  width: 70%;
  text-align: center;
}

.FooterList {
  list-style: none;
  padding-left: 0;
}

.FooterList li {
  padding: 7.5px 0;
}

.FooterList li.Subheading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.FooterList li.Subheading.NoLink:hover {
  text-decoration: none;
  cursor: default;
}

.Wrapper .heading {
  color: #fff !important;
}

.SlideIn {
  /* background: linear-gradient(130deg, #0700dd 0%, #00f2ff 89%); */
  background: #0700dd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.SlideIn.Left {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.SlideIn.Right {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.BGImage.Left {
  background-position: left;
}

.image {
  max-height: 450px;
}

.TestCard {
  background: #0700dd !important;
  color: #fff;
}

.pdfPaper {
  height: 400px;
  margin: auto;
  position: relative;
}

.ContentContainer {
  width: 60%;
  max-width: 550px;
  margin: auto;
}

.icon {
  width: auto !important;
  margin: 20px 0 !important;
}

.IntroCardsContainer {
  height: 450px;
}

.pdfIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
